.helpCenter{
    padding: 0.5rem 1rem;
    transition: all  linear;
    z-index:2222;
}

.helpCenter:hover{
    background-color: var(--icons-color);
    color:var(--shadow-dark-color);
    border-radius: 0.3rem;
}